<ng-sidebar-container class="sidebar">
  <ng-sidebar class="sidebar__menu"
    [showBackdrop]="isMenuOpen"
    [closeOnClickBackdrop]="true"
    [(opened)]="isMenuOpen"
    [mode]="'over'"
    [keyClose]="true"
    (swipeleft)="switchMenuState()">
    <app-side-nav (clickOnLink)="switchMenuState()">
      <fa-icon (click)="switchMenuState()" [icon]="faArrowLeft"></fa-icon>
    </app-side-nav>
  </ng-sidebar>
  <div class="sidebar-content" ng-sidebar-content>
    <div class="content">
      <main-nav>
        <button class="sidebar__button" (click)="switchMenuState()">
          <fa-icon [icon]="faBars"></fa-icon>
        </button>
      </main-nav>
      <router-outlet></router-outlet>
    </div>
  </div>
</ng-sidebar-container>
<div class="notification" *ngIf="notificationService.notification$ | async as notification">
  <ngb-toast
    [header]="notification.header"
    [autohide]="true"
    [delay]="2500"
    (hide)="notificationService.clearNotification()"
  >
    {{ notification.message }}
  </ngb-toast>
</div>
