@import 'src/theme/breakpoints';
@import 'src/theme/colors';
@import 'src/theme/z-index';

.sidebar {
    height: 100vh;
    background: $color-gray;

    &__button {
        border: none;
        background: none;
        padding: 5px;
        user-select: none;
        outline: none;
        color: white;
    }
}

:host ::ng-deep .ng-sidebar {
    background-color: white;
    width: 30%;
    z-index: $sidebar-z-index !important;
    @include lt-lg { //sm
        width: 35%;
    }
    @include lt-md { //sm
        width: 50%;
    }
    @include lt-sm { //xs
        width: 70%;
    }
}

:host ::ng-deep .ng-sidebar__backdrop {
    z-index: $backdrop-z-index !important;
}

.notification {
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 1051;
}

.content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.sidebar-content {
  width: 100%;
  height: 100%;
}
