@import 'src/theme/nav-bar';
@import 'src/theme/colors';

.bg-register {
  background: linear-gradient(rgba(36, 36, 36, 0.45), rgba(36, 36, 36, 0.45)),
    url('../../assets/login/background-login.png') no-repeat fixed;
  background-size: cover;
  height: calc(100vh - #{$nav-bar-height});
  width: 100%;
  position: absolute;
  margin: unset;
}

.header-card {
  background-color: #bbbebf;
  width: 100%;
  font-weight: bold;
  text-align: center;
  border: 1px solid #bbbebf;
}

.body-card {
  background-color: $color-gray;
}
